.p1 {
    display: block;
    background-color: blue;

}

.p2 {
    background-color: yellow;
    display: inline;
}

.menu {
    display: flex;
    justify-content: space-between;
    background: #333;
    color: white;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: lightgray;
}

.box {
    font-size: 50px;
    width: 150px;
    height: 0;
    text-align: center;
    background: tomato;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  flex: 1 1 calc(20% - 20px);
  background: lightblue;
  padding: 20px;
  text-align: center;
}
/* * .vidu {
    width: 150px;
    height: 25px;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: rgb(130, 216, 245);

}  */